
$menuText:#666666;
$menuActiveText:#333;
$subMenuActiveText:#333;

$menuBg:#fff;
$menuHover:#fff;

$subMenuBg:#fff;
$subMenuHover:#fff;

$sideBarWidth: 255/1920*100vw;
$navbarHeight: 80/1080*100vh;
$bg1px: 0.052vw;
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navbarHeight:$navbarHeight;
}
